* {
    text-align: center;
    font-weight: bold;   
}

#container {
    width: 600px;
    height: 450px;
    margin: 0 auto;
    padding: 0px;
}

#content_container {
    width: 590px;
    border: 1px solid black;
}

#title {
    background: black;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 5px;
    text-align: left;
}

.red {
    color: red;
}

.my-class1 {
    color: blue;
}

